<!DOCTYPE html>
<html>
<head>
  <title>Study</title>
  <style>
  body {
    padding: 0;
    margin: 0;
  }
  .app {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100vh;
    width: 100vw;
  }
  .app header,
  .app footer {
    flex-basis: 100%;
    background-color: #08c;
    color: white;
    padding: 1rem;
  }
  .app .sidenav {
    flex-basis: 10rem;
  }
  </style>
</head>
<body class="app">
  <header>Header</header>
  <div class="sidenav">
    hello, sidenav
  </div>

  <div class="workbook">
    <div class="text">
    </div>
    <div class="notes">
    </div>
  </div>
  <footer>Footer</footer>
</body>
</html>